body{
    background: url(foto/mongo.jpg);
    height: 75vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

.logo{
    width: 138px;
    height: 27px;
    opacity: 1;
    transform: translate(0%, 0%);
    margin-left: 140px;
    margin-top: 160px;
}

.exit{
    transform: translate(1200%, 0%);
    background: transparent;
    border: none;
    height: 40px;
    width: 100px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 200%;
}

h1{
    transform: translate(160%, 180%);
    width: 387px;
    height: 72px;
    text-align: center;
    font: normal normal bold 60px/71px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
}

p{
    transform: translate(6%, 90%);
    width: 1530px;
    height: 71px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 60px/71px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
}

/* .centro{
    top: 495px;
    left: 445px;
    width: 1030px;
    height: 143px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
} */