*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.logo{
  height: 12%;
  width: 30%;
  margin-top: 20%;
  margin-left: 12%;
}

a{
  color:rgb(0, 166, 251);
}

a:hover{
  color:rgb(5, 130, 202);
  text-decoration: none;
}


/* Form styles */
.form {
    transform: translate(250%, -55%);
    width: 400px;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 20px;
  }
  
.login{
  margin-top: 20px;
  transform: translateX(5%);
  color: rgb(60, 60, 59);
  font-size: 22pt;
}

.register{
  margin-top: 15px;
  transform: translateX(5%);
}

.input{
  margin-top: 20px;
}
  
.form input[type="text"],
.form input[type="password"] {
  width: 92%;
  padding: 12px 20px;
  text-align: left;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 25px;
  box-sizing: border-box;
  margin-left: 13px;
}

.email{
  background-color: rgb(242, 242, 242);
}

.password{
  background-color: rgb(242, 242, 242);
}

.forgot{
  display: inline;
  margin-top: 10px;
  margin-left: 17px;
}
  
.ck_memo{
  position: relative; 
  top: 2.5px;
  margin-top: 10px;
  margin-left: 63px;
}
  
.form input[type="submit"] {
  width: 92%;
  background-color: rgb(0, 166, 251);
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 35px;
  margin-left: 14px;
}
  
.form input[type="submit"]:hover {
  background-color: rgb(5, 130, 202);
}

.another {
  text-align: center;
  margin-top: 30px;
}

.flag{
  position: absolute;
  margin-top: 20px;
  margin-left: 310px;
}

.eye{
  position: absolute;
  margin-top: 25px;
  margin-left: -45px;
  cursor: pointer;
}

.icons{
  margin-top: 20px;
  margin-left: 116px;
}

.icons:hover{
  color: black;
}

.google{
  margin-left: 20px;
}

.apple{
  margin-left: 20px;
}

/*<------------------------------->*/


body{
  width: 100%;
  height: 100vh;
  font-family: Helvetica, Sans-Serif;
  font-size: 10pt;
}

.conteiner{
  height:100%
}
.videofullscreen{
  position:absolute;
  overflow: hidden;
  width:100% !important;
  height:100% !important;
  object-fit: cover;
  z-index: -100;
}



/*<------------------------------->*/

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -215%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: -28%;
  left: 50%;
  rotate: 180deg;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


